@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000000;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #FFFFFFAA;
  --background-color-strong: #FFFFFF;
  --background-start-rgb: #15a9ff55;
  --background-end-rgb: #f7368655;
  --button-background-one: #15a9ff;
  --button-background-two: #f73686;
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

main {
  position: relative;
}

footer {
  padding-bottom: 1rem;
}

header {
  padding-top: 1rem;
}

.link-item {
  color: var(--background-color-strong);
  font-weight: bold;
  font-size: large;
}

.shadow-color-one {
  filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--button-background-one));
}

.shadow-color-two {
  filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--button-background-two));
}

.visible-link {
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  text-align: center;
  color: var(--background-color-strong);
  filter: 
  drop-shadow(0.2rem 0.2rem 0.15rem var(--button-background-one))
  drop-shadow(-0.2rem -0.2rem 0.15rem var(--button-background-two))
      ;
}

h3 {
    font-size: medium;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 1rem;
}

.content-box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  min-width: 200px;
  margin: 0 auto;
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: .4rem;
}

.svg-icon {
  fill: var(--background-color-strong);
}

.welcome-box {
  display: flex;
  background-color: var(--background-color);
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.by-item {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.space-between {
  justify-content: space-between;
}

.content-container {
  max-width: 600px;
}


@media (max-width: 680px) {
  main {
    padding: 0.5rem;
  }

  .content-box {
    width: 100%;
    padding: 0.5rem;
  }

  header {
    padding-top: unset;
  }

  footer {
    padding-bottom: unset;
  }
}