textarea {
    color: black;
    padding: .2rem;
    border-radius: .4rem;
    width: 80%;
    max-width: 800px;
    min-width: 200px;
    background-color: var(--background-color);
    border: 1px solid var(--foreground-rgb);
}

.ver-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 800px;
    min-width: 200px;
    margin: 0 auto;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: .4rem;
}

.form-area-element {
    padding-top: .5rem;
    padding-bottom: .5rem;
}