
.color-square-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.color-square-container:hover {
    cursor: pointer;
    
    .color-square {
        border: var(--foreground-rgb) solid .1rem;
    }
}

.color-square {
    border-radius: .5rem;
    border: var(--background-color) solid .1rem;
    filter: drop-shadow(0.1rem 0.1rem .2rem var(--foreground-rgb));
}
    